@model tnp.Data.Models.LocalPasswordModel
@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p class="login-box-msg">
        Voçê está logado como <strong>@User.Identity.Name</strong>.
        <br />
        Você não tem uma senha local para este site. Adicionar uma senha local,
        para que você possa logar sem um login externo.
    </p>
    <div class="form-group has-feedback">
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Digite uma senha" })
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-red" })
    </div>
    <div class="form-group has-feedback">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Repita a senha" })
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-red" })
    </div>
    <div class="row">
        <div class="col-xs-4">
            @Html.ActionLink("Voltar", "Index", "Dashboard", null, new { @class = "btn btn-danger btn-block btn-flat" })
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Adicionar</button>
        </div>
    </div>
}